<%- include("partials/header.ejs")%>

<form action="/" method="post">
    <div class="custom-select" style="width:200px;">
        <label for="list">Select</label>
        <select name="selected" id="list">
            <option value="0">Select car:</option>
            <option value="Audi">Audi</option>
            <option value="BMW">BMW</option>
            <option value="Citroen">Citroen</option>
            <option value="Ford">Ford</option>
        </select>
    </div>
    <button type="submit">search</button>
    
</form>

<%- include("partials/footer.ejs")%>

